.ajuste{
    margin-right: 20px;
    
}

body{
    background-image: url(../img/Fondo_productos_form.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.centar_jum{
    text-align: center;
}

.flex_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo_card{
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .8 );
}

.nosotros_presenta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros_fuente{
    font-size:x-large;
}

.nosotros_fondo{
    background-color: rgb(255, 255, 255, .6 );
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
