.fondo{
    margin-top: 50px;
    /*background-color: #FF4362CC;*/
    color: black;
    background-color: #EAEAEA;
    border-radius: 20px;
    padding-bottom: 15px;
}

.titulo_producto{
    border-radius: 20px 20px 0px 0px ;
    background-color: #003333;
    width: 100%;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fraunces';
}


.centrar_boton{
    text-align: center;
}

.estilo_boton{
    background-color: #0E8784;
    border-radius: 10px;
    color: #FEFCF7;
    font-family: 'Fraunces';
    padding: 10px;
    text-transform: uppercase;
}
.estilo_boton:hover{
    background-color: #66D2CF;
}/*cambio de color del boton cuando pasa el cursor*/
.estilo_boton:checked{
    background-color: #003333;
    color: #FEFCF7;
}

.centrar{
    display: flex;
    justify-content: center;
    text-align: center;
}

input{
    margin-top: 30px;
    font-family: 'Fraunces';
}

h4{
    color: #FFFFFF;
}
#ingreso{
    padding-top: 40px;
    text-transform: uppercase;
    font-family: 'Fraunces';
}
.alerta{
    align-items: flex-start;
    color: #d93025;
    display: flex;
    font-size: 12px;
    line-height: normal;
    margin-top: 2px;
}




#correo_alert{
    display: none;
}

#nombre_alert{
    display: none;
}


#telefono_alert{
    display: none;
}

#mensaje_alert{
    display: none;
}

#contactanos {
    padding-bottom: 30px;
}

