/*.footer-03{
    background-color: #ff0080;
}*/

footer {
    padding: 0em 0; 

}
  
.footer-03 {
    /*ad9466*/
    background: #2C343E;
    ;
    font-size: 18px;

}    
/* aqui se definen los estilos de los heads */
.footer-03 .footer-heading {
    /*color: #fff; */
    color: #0E8784;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom:20px; 
    font-family: 'Fraunces';
}

  /* aqui se definen los estilos del copyright */  
.footer-03 .copyright {
   /* color: #828282; */
    color:#FDD6BA;
   text-align:center;
   font-family: 'Barlow';
   
}

.footer-03 .list-unstyled li a {
    color: white; 
}
    
.footer-03 .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; 
}
    
/*Estilos para los íconos de redes sociales*/
.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block; 
    
}

.ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative; 
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
    color: #fff; 
    
}
/*tamaño de los iconos */
.sizeIcono{
    height: 30px;
    width: 30px;
    
}

.sizeIcono:hover{
    height: 40px;
    width: 40px;
    
}



.subtitulo{
    font-family: 'Barlow';
    
}