.fondo{
    margin-top: 50px;
    /*background-color: rgb(0, 194, 247, .6);*/
    background-color: #EAEAEA;
    border-radius: 20px;
    padding-bottom: 15px;
}

.container2{
    display: flex;
    justify-content: center;
}

.titulo_producto{
    border-radius: 20px 20px 0px 0px ;
    /*background-color: rgb(51, 141, 43, .6);*/
    background-color: #EAEAEA;
    width: 100%;
    text-align: center;
}

.centrar_boton{
    text-align: center;
}

.estilo_boton{
    background-color: #E8070C;
    width: 40%;
}

body{
    /*background-image: url(../img/Fondo_productos_form.png);*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#categoriaProduct{

    display: flex;
    flex-direction: row;
}

.correct{
    border-color: #1ed12d;
    color: #1ed12d;
    opacity: 1;

}

.incorrect{
    border-color: #E8070C;
    color: #bb2929;
    opacity: 1;

}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.estilo_botones{
    flex-wrap: wrap;
    flex-grow: 5;
    text-align: center;
    background-color: #0E8784;
    border-radius: 10px;
    color: #FEFCF7;
    font-family: 'Fraunces';
}
.estilo_botones:hover{
    background-color: #22918de7;
    color: #EAEAEA;
}

.mantenimiento{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;

}

#imageFile{
    border: solid;
    border-radius: 20px;
}
.estilo_boton{
    background-color: #0E8784;
    border-radius: 10px;
    color: #FEFCF7;
    font-family: 'Fraunces';
    padding: 10px;
    text-transform: uppercase;
}
.estilo_boton:hover{
    background-color: #66D2CF;
}/*cambio de color del boton cuando pasa el cursor*/
.estilo_boton:checked{
    background-color: #003333;
    color: #FEFCF7;
}

.btn_container{
    display: flex;
    justify-content: center;
    
}
