.centrado{display: flex;
    justify-content: center;
    align-items: center;
   

}

/*buttons sobre imagenes*/
.button-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
/*Style a buttons*/
.button-container a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
    background-color: #572354dd;
    border-radius: 20px;
    color:white;
    text-transform:uppercase;
    padding:1rem 1.5rem;
}
.button-container a:hover{
    background-color:#572354;
    text-decoration: none;
    text-decoration-style: solid;
    cursor:pointer;
}
.button-container a:target{
    background-color: black;
}

/*ajusta button movil*/
@media only screen and (max-width:600px) {

    .button-container a{
        font-size:1em;
        padding:1em 1.5em;
        text-transform:uppercase;
        border-radius:1.5em;
    }
}

.fondo_gris{
    background-color: #FEFCF7;
}/*fondo gris de cada sección este es necesario*/

.centrado_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}/*esta clase es para que el texto de los apartados seccion este centrado a la imagen*/

.seccion_titulo{
    
    text-align: center;
    font-size: 4.5em;
    font-family: 'Fraunces';
    color: black;   
}
@media only screen and (max-width:600px) {
    .seccion_titulo{
        font-size: 2.5em;
    }
}

/*Tamaño de letra del titulo de las secciones además de el tamaño de letra de ver mas*/

.sombrerosMargin{
   margin-top: 40px; 
}/*Tamaño de margen para que no quede tan pegado al limite
*/
.sombrerosMarginlink{
    margin-bottom: 40px; 
 }/*Tamaño de margen para que no quede tan pegado al limite

/*estilos de los hipervinculos*/
.hipervinculo{
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
    font-family: 'Fraunces';  
    color:  #0E8784;  
}
.hipervinculo:hover{
    text-align: center;
    font-size:  2.5rem;
    font-family: 'Fraunces';
    color:black;  
}
@media only screen and (max-width:600px) {
    .hipervinculo{
        font-size: 1.5em;
        text-align: center;
    }
}
@media only screen and (max-width:600px) {
    .hipervinculo:hover{
        font-size:1.5em; 
        text-align: center;
     }
}

/* seccion espacio*/
.seccion_espacio{
    margin-top: 18%;
    margin-bottom: 18%;
    font-size: 1.9rem;
    text-align: center;
    font-family: 'Barlow';
    color: #333D4B;
}
@media only screen and (max-width:600px) {
    .seccion_espacio{
        font-size:1em; 
    }
}
/*tamaño de la letra de del parrafo de la seccion ademas de separar el titulo y el ver mas*/

.centrar_imagen{
    display: flex;
    justify-content: center;
    align-items: center;

}/*con esta clase se centran las imagenes en la parte de las secciones*/

.linea_separadora{
    background-color: black;
    height: 1px;
}/*esta clase es para darle al hr un color negro y 1px de ancho*/

.formato_titulo{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;

}/*separacion de los titulos ademas de centrar el texto*/ 

.tamaño_titulo{
    
    font-size:  5.2em;
    font-family: 'Fraunces';
    color: #0E8784;
}
@media only screen and (max-width:600px) {
    .tamaño_titulo{
        font-size:2.5em;
        text-align: center;
    }
}

/*tamaño de texto de los titulos de las secciones*/

.tamaño_parrafo_seccion{
    font-size: 1.9rem;
    font-family: 'Barlow';
    color: #333D4B;
}
@media only screen and (max-width:600px) {
    .tamaño_parrafo_seccion{
        font-size:1em; 
        text-align: center;
    }
}
/*tamaño del tipo de letra en el parrafo del titulo de productos*/

.formato_seccion{
    margin-top: 10%;
    margin-bottom: 10%;
}/*separacion entre las secciones de gorras sombreros y nosotros*/

.margen_carrusel{
margin: 2em 5em 5em 5em;

}
@media only screen and (max-width:600px) {
    .margen_carrusel{
        margin: 1em 2.5em 2.5em 2.5em;
    }
}

/*margenes del carrusel*/

.imgRadius{
    border-radius: 3rem ;
    /*border-top-right-radius:3rem 3rem;*/
}





