.centrado{display: flex;
    justify-content: center;
    align-items: center;
   

}

/*buttons sobre imagenes*/
.button-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
/*Style a buttons*/
.button-container a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
    background-color: #572354dd;
    border-radius: 20px;
    color:white;
    text-transform:uppercase;
    padding:1rem 1.5rem;
}
.button-container a:hover{
    background-color:#572354;
    text-decoration: none;
    text-decoration-style: solid;
    cursor:pointer;
}
.button-container a:target{
    background-color: black;
}

/*ajusta button movil*/
@media only screen and (max-width:600px) {

    .button-container a{
        font-size:1em;
        padding:1em 1.5em;
        text-transform:uppercase;
        border-radius:1.5em;
    }
}

.fondo_gris{
    background-color: #f4f4f4;
}/*fondo gris de cada secció este es necesario*/

.centrado_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}/*esta clase es para que el texto de los apartados seccion este centrado a la imagen*/

.seccion_titulo{
    text-align: center;
    font-size: 40px;
}/*Tamaño de letra del titulo de las secciones ademas de el tamaño de letra de ver mas*/

.seccion_espacio{
    margin-top: 18%;
    margin-bottom: 18%;
    font-size: 30px;
    text-align: center;
}/*tamaño de la letra de del parrafo de la seccion ademas de separar el titulo y el ver mas*/

.centrar_imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}/*con esta clase se centran las imagenes en la parte de las secciones*/

.linea_separadora{
    background-color: black;
    height: 1px;
}/*esta clase es para darle al hr un color negro y 1px de ancho*/

.formato_titulo{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}/*separacion de los titulos ademas de centrar el texto*/ 

.tamaño_titulo{
    font-size: 70px;
}/*tamaño de texto de los titulos de las secciones*/

.tamaño_parrafo_seccion{
    font-size: 30px;
}/*tamaño del tipo de letra en el parrafo del titulo de productos*/

.formato_seccion{
    margin-top: 10%;
    margin-bottom: 10%;
}/*separacion entre las secciones de gorras sombreros y nosotros*/





