
.navbar{

    background-color:#FEFCF7;
    font-family: 'Barlow', sans-serif;
}

.nav-link{
    position: relative;
    color:#83888F;
    cursor: pointer;
    font-size: 16px;
    transition: all 450ms ease;
    justify-content: space-around;
    letter-spacing: 0.5;
    text-transform:uppercase;
    text-decoration: underline;
}

.nav-link:hover{
    color: beige;
}
