
.navbar{

    background-color:#FEFCF7;
}

.nav-link{
    position: relative;
    color:#83888F;
    cursor: pointer;
    font-size: 18px;
    transition: all 450ms ease;
    justify-content: center;
    letter-spacing: 0.5;
    text-transform:uppercase;
    padding: 8px 12px;
    border-radius: 3px;
    font-family:'Fraunces', sans-serif;

}

.nav-link:hover{
    color: #0E8784 !important;
    transition: 0.5;
}

.custom-toggler .navbar-toggler{
    border-color: red;
}
.navbar-light .navbar-toggler {
    color: #0E8784;
    border-color: #0E8784;
}
